<form nz-form role="form">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-user">
        <input nz-input placeholder="username: admin or user">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
        <input nz-input type="password" placeholder="password: ng-alain.com">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox >Remember me</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a class="forgot">Forgot Password</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" nzBlock>
      Login
    </button>
  </nz-form-item>
</form>